/* components/home.css */
*,*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  background-color: #121212; /* Fundo escuro */
  color: white;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.home-header {
  padding: 20px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.username {
  font-size: 1.2rem;
  color: white;
}

.home-main {
  padding: 20px;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: flex-start; /* Garante que o conteúdo fique alinhado ao topo */
  height: calc(100vh - 60px); /* Ajusta o tamanho para garantir que o conteúdo ocupe o restante da tela */
}

.home-main h2 {
  font-size: 2rem;
  text-align: center; /* Garante a centralização do título */
  margin-top: 20px; /* Dá um pequeno espaçamento */
  width: 100%; /* Garante que o título ocupe toda a largura do seu container */
}

.home-main p {
  font-size: 1.1rem;
  text-align: center;
}

.anime-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Ajusta para exibir os cards em grid */
  gap: 20px; /* Distância fixa de 20px entre os cards */
  margin-top: 30px;
}

.anime-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Garante que a imagem fique em cima do texto */
  align-items: center;
  justify-content: flex-start; /* Ajusta a posição do conteúdo dentro do card */
  max-width: 200px; /* Largura fixa para manter os cards do mesmo tamanho */
  box-sizing: border-box; /* Garante que padding e border não afetem o layout */
}

.anime-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.3);
}

.anime-card img {
  width: 100%; /* A largura da imagem será 100% do card */
  height: auto; /* Ajusta automaticamente a altura para manter a proporção */
  aspect-ratio: 12/16; /* A proporção de 16:9 é próxima da proporção 0.58, então isso ajusta a altura em relação à largura */
}

.anime-card h3 {
  margin: 10px;
  font-size: 1.1rem;
  text-align: center;
  padding: 0; /* Remove qualquer padding no título */
}
